<div class="img-pane">
  <img class="unit-logo"/>
</div>

<div class="chart-pane">
  <svg id="svg" preserveAspectRatio="xMinYMin" width="100%" height="99%" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink= "http://www.w3.org/1999/xlink">
  <defs>
  <pattern id="img1" patternUnits="userSpaceOnUse">
  <image xlink:href="http://www.oddysee.org/wp-content/plugins/orgtool-wordpress-plugin/oddysee-tool/app/assets/oddysee-logo-glow.svg" width="75px" height="75px" x="0px" y="0px"></image>
  </pattern>
  </defs>
  </svg>
</div>

<div class="overlay-pane">
  {{#unless showNav}}
  <div class="unit-nav-box">
    <div class="unit-nav-content">
      <button class="btn btn-trans-nav" {{action "goBack"}}><i class="fa fa-arrow-left"></i> back</button>
    </div>
  </div>
  {{/unless}}
<!--   <div class="unit-info-box"> -->
<!--     <div class="unit-info-content"> -->
<!--       <h4>TODO</h4>Hover over a unit -->
<!--     </div> -->
<!--   </div> -->
</div>
