/* Let's get this party started */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
//    background: rgba(41,41,42,1.0);
    background: #0A0C11;
//    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,1.0);
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 4px;
//    #29292a; #242424
  background: rgba(36,36,36,1.0);
//      background: #101215;
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,1.0);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(36,36,36,0.4);
} 


@import 'theme/button';
@import 'theme/nav';
@import 'theme/panel';
@import 'theme/table';
@import 'theme/form';
@import 'theme/dropdown';
@import 'theme/modal';
@import 'theme/pagination';
