$filter-height: 80px;
$pager-height: 35px;
//  $result-height: calc(100% - #{$filter-height} - #{$pager-height});
$result-height: calc(100% - #{$filter-height});

#info {
  width: $info-width;
  height: 100%;
  float: left;
  position: relative;


  .info-stats {
    height: 22px;
    line-height: 22px;
  }

  .info-content {
    height:  calc(100% - 22px);
    position: relative;
//      height: calc(100% - 26px);
    width: 100%;
    overflow-y: auto;
  }

//    border: 1px solid #f00;

//    .member-filter {
//      padding-top: 3px;
//      height: $filter-height;
//      vertical-align: middle;
//      line-height: 1.42857143;
//    }

//    .name-filter {
//      padding-left: 10px;
//      vertical-align: middle;
//      display: inline;
//      width:  calc(100% - 46px);
//    }

//    .member-list {
//      position: relative;
//      height: $result-height;
//    }

//    .member-list > div {
//      padding: 4px 2px;
//      line-height: 1.4;
//      border-top: 1px solid #3e3e3e;
//    }

//    .member-list > div:nth-of-type(1) {
//      border: 0px;
//    }

//    .impart-panel {
//      height: 100%;
//      overflow-y:auto;
//      padding: 10px 15px;
//    }
}
