#unit-info {
  width: $info-width;
  height: 100%;
  float: left;
  border: 1px solid #f00;

  .member-list > div {
    padding: 4px 2px;
    line-height: 1.4;
    border-top: 1px solid #3e3e3e;
  }

  .member-list > div:nth-of-type(1) {
    border: 0px;
  }
}
