<div id="info">
  <div class="panel panel-default impart-panel">
  {{#each members as |member|}}
    {{member-details member=member}}
  {{/each}}
</div>


  {{!--
  <div class="panel panel-default infoPanel">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="">
          {{currentUnit.name}}: {{currentUnit.desc}} 
        </div>
        <br>

        <div class="member-list">
          {{#each currentUnit.leader as |lead|}}
            {{member-details member=lead}}
          {{/each}}
        </div>
      </li>

      <li class="list-group-item">
        <strong>Ships:</strong>
        <span class="shipinfo"></span>
        <div class="shiplist">
          <table class="compactTable">
            <tbody id="ships">
            </tbody>
          </table>
        </div>
      </li>
    </ul>
  </div>
  --}}
</div>
