<div id="pilots">
	{{#if currentUnit.pilots.length}}
	<strong>Pilots: {{currentUnit.pilots.length}} </strong>
	<br> <br>
	{{/if}}
    {{#each currentUnit.pilots as |pilot|}}
		{{member-details member=pilot}}
    {{/each}}
</div>
