<div id="units">
  <div class="panel panel-default pilot-panel">
    {{#if showGameEdit}}
      {{unit-tree unit=currentUnit showChildren=false}}
    {{else}}
      {{#if extended}} 
        {{unit-tree unit=currentUnit}}
      {{/if}}
    {{/if}}
  </div>
</div>

