<div id="unit-info">
    <div class="panel panel-default infoPanel">
        <ul class="list-group">
            <li class="list-group-item">
            <strong>Description:</strong>
            <div class="" id="desc"></div>
            </li>
            <li class="list-group-item">
            <strong>Leader:</strong>
            <div class="leaderlist">
                <table class="compactTable">
                    <tbody id="leader">
                    </tbody>
                </table>
            </div>
            </li>
            <li class="list-group-item">
            <strong>Ships:</strong>
            <span class="shipinfo"></span>
            <div class="shiplist">
                <table class="compactTable">
                    <tbody id="ships">
                    </tbody>
                </table>
            </div>
            </li>
        </ul>
    </div>


</div>
