.rewards {
  .reward-type {
//      width: 100%;
//      height: 100%;
    border: 1px solid #1a80b6;
//      position: absolute;
    margin-bottom: 20px;
    border-radius: 10px;

    .badge {
      background-color: #1a80b6;
      color: #000;
      font-weight: bold;
    }


    .toolbar {
      border-radius: 0px 10px 0px 10px;
      position: relative;
      float: right;
//      width: 100%;

    }
  }


  .row {
//      min-height: 28px;
    line-height: 24px;
        border: 1px solid #333;
  }
}

    .selectable:hover {
//        background-color: #fff;
//        color: #f66 !important;
        border: 1px solid #1a80b6;
        cursor: pointer;
        background: rgba(0, 0, 0, 0.7);
            outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
//          border-color: #1a80b6;
    }

