#orgtool-container {
    background-color: #29292a;
    color: #aaa9a9;
}

#maincontainer {
    width: 100%;
    height: 754px;
//      height: 100%;
}

#header {
}

#breadPath {
  height: 40px;
}

#mycontent {
    height: 100%;
    background-color: #242424;
}

$pilot-width: 30%;
$info-width: 20%;
$overview-width: calc(100% - #{($pilot-width + $info-width)});

//  $info-width: 25%;
//  $overview-width: 50%;
//  $pilot-width: 50%;

@import 'overview/info';
@import 'overview/chart';
@import 'overview/pilots';

@import 'components/org-chart';
@import 'components/unit-tree';
@import 'components/member-details';
