html, body {
  width: 100%;
  height: 100%;
  font-family: "Lato, Arial, Helvetica, sans-serif";
  font-size: 13px;
}

#orgtool-container {
  height: 100%;
  background-color: #29292a;
  color: #aaa9a9;
}

#orgtool-container > .ember-view {
  height: 100%;
}

#maincontainer {
  width: 100%;
//    height: 754px;
  height: 100%;
}


$menu-height: 43px;

#header {
  height: $menu-height;
}

#mycontent {
  width: 100%;
  height: calc(100% - #{$menu-height});
  background-color: #242424;
}

$pilot-width: 30%;
$info-width: 20%;
$overview-width: calc(100% - #{($pilot-width + $info-width)});

//  $info-width: 25%;
//  $overview-width: 50%;
//  $pilot-width: 50%;


//  .ui-draggable {
//      cursor: move;
//  }

.ui-draggable-dragging {
/*   cursor: move; */
//    min-width: 100px;
  width: 200px;
  background: rgba(0,0,0,.7);
//    border-radius: 4px;
}

.ui-draggable.member:hover {
//    cursor: move;
  background: rgba(255,255,255,.2);
//    border-radius: 4px;
}




@import 'overview/units';
@import 'overview/chart';
@import 'overview/members';

@import 'components/org-chart';
@import 'components/unit-tree';
@import 'components/member-details';
