* {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}                    
*:before,            
*:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

html, body {
//  body {
  width: 100%;
  height: 100%;
  margin: 0;
  margin-top: 0 !important;
  padding: 0;
//    font-family: "Lato" !important;
//      font-weight: 300;
//    font-family: "Lato, Arial, Helvetica, sans-serif";
  font-size: 12px;
  background-color: $bgcolor;
}

body {
  height: 100%;
}

.fake-header {
  background-color: #101215;
  height:90px;
//    height:89px;
//    border-bottom: 1px solid #1a80b6;
 }

#orgtool-container {
  height: calc(100% - #{$wp-menu-height});
//  height: 100%;
  font-size: 12px;
//    background-color: #29292a;
//  background-color: #0A0C11;
//    color: #aaa9a9;
  color: #fff;

  * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }                    
  *:before,            
  *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
}

#orgtool-container > .ember-view {
  height: 100%;
}

#maincontainer {
  font-size: 12px;
  width: 100%;
//    height: 754px;
  height: 100%;
//    z-index: -1;
}



#myheader {
//    position: absolute;
  height: $menu-height;
  width: 100%;

  .danger {
    color: #f00;
  }
}

#mycontent {
  width: 100%;
  height: calc(100% - #{$menu-height});
  z-index: 10;
//    height: 100%;
//    position: absolute;
//    top: #{$menu-height};
//    left: 0px;
//    right: 0px;
//    bottom: 0px;
}

.subheader {
  height: $menu-height;
  width: 100%;
}

.subcontent {
  width: 100%;
  height: calc(100% - #{$menu-height});
}


.debug {
//      height: 100%;
//          min-height: 40px;
	padding-right: 6px;
	vertical-align: middle;
	line-height:42px;
	color: #aaa;
//      position: absolute;
}

.loader-screen {
  width: 100%;
  height: 100%;
  display: table;
//    background-color: #000;
//       margin: auto;
//    position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.loader-box {
//    width: 100%;
  display: table-cell;
  vertical-align: middle;
   text-align: center;
}

.loader-text {
  color: #555;
  font-size: 42px;
}

.loader-bar {
   text-align: left;
    position: fixed;
  top: 70%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  font-size: 10px;
}

.loader-details {
}

.loader-spinner {
  font-size: 80px;
}


hr {
//      border-top: 1px solid #219ab3;
    border-top: 1px solid #204d74 !important;
    margin-top: 20px;
    margin-bottom: 0px;
}

$pilot-width: 25%;
$info-width: 25%;
$overview-width: calc(100% - #{($pilot-width + $info-width)});

.ui-draggable-dragging {
/*   cursor: move; */
//    min-width: 100px;
  width: 200px;
  background: rgba(0,0,0,.7);
  border: 1px solid #000;
}

.ui-draggable:hover {
//    background-color: rgb(34, 50, 72);
  background: rgba(0,0,0,.7);
//    border-radius: 4px;
  border-color: $blue;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);

}



  .member-details-name {
    position: relative;
//      right: -5px;
    width: 100%;
    height: 100%;
  }


  .box {
//      width: 100%;
//      height: 100%;
    border: 1px solid $blue;
//      position: absolute;
//      padding-top: 4px;
//      padding-left: 14px;
//      padding-bottom: 20px;
    margin-bottom: 20px;
    border-radius: 10px;

    .badge {
      background-color: $blue;
      color: #000;
      font-weight: bold;
    }

    .toolbar {
      border-radius: 0px 8px 0px 10px;
      position: relative;
      float: right;
//      width: 100%;

    }

    .box-header {
//        padding-top: 4px;
//        padding-left: 15px;
      font-size: 14px;
      font-weight: bold;
      background-color: #000;
      border-radius: 10px 10px 0px 0px;
      height: 34px;
      line-height: 34px;
      border-bottom: 1px solid $blue;

      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 8px;
    }
  }

  .txt-red {
    color: #f40;
  }

  .txt-red:hover {
    color: #fff;
  }

.item-sum-list {
  position: relative;
  height: calc(100% - 26px);
  width: 100%;
  overflow-y: auto;
}


@import 'overview/units';
@import 'overview/chart';
@import 'overview/members';

@import 'ships/ships';
@import 'items/items';
@import 'rewards/rewards';

@import 'members/members';
@import 'members/member';

@import 'components/org-chart';
@import 'components/unit-tree';
@import 'components/unit-select';
@import 'components/member-list';
@import 'components/member-details';
@import 'components/member-select';
@import 'components/item-list';
@import 'components/item-details';
@import 'components/item-create';
@import 'components/reward-create';

@import 'components/ship-model-details';


