#orgtool-container {
    background-color: #29292a;
    color: #aaa9a9;
}

#maincontainer {
    width: 100%;
    height: 700px;
//      height: 100%;
}

#header {
}

#mycontent {
    height: 100%;
    background-color: #242424;
}

$info-width: 25%;
$overview-width: calc(100% - #{($info-width * 2)});
$pilot-width: $info-width;

@import 'overview/info';
@import 'overview/chart';
@import 'overview/pilots';

@import 'components/member-details';
