//  float:left;
//    width: 200px;
//    height: 100%;

//  }

$mod-height: 40px;
//  $pager-height: 35px;
$ship-height: calc(100% - #{$mod-height});


#ships {
  position: relative;
  height: 100%;

  .ship-mod {
    position: absolute;
    right: 10px;
    top: 0px;
    z-index: 1;
//      height: $mod-height;
  }

  .ship-list {
//      height: $ship-height;
    height: 100%;
    overflow-y:auto;
  }


  .ship-details {
    float:left;
    //    width: 100%;
  }

  .ship-owner {
    margin-top: 10px;
    color: #1a80b6;
    font-size: 18px;
  }
}
