//  .btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {

.btn-default,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
    color: #004;
//      color: rgb(26, 128, 182); //rgba(0,0,0,.5);
    background-color: rgb(26, 128, 182) !important;
    //      background-color: #2991D6;
//      color: #223248;
//      background-color: #223248;
//      border-color: #2e6da4;
    border: 1px solid #219ab3
}

.btn-default:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.btn-success {
    background-color: #093109;
    border-color: #204d74;
//      border-color: #4cae4c;
}

.btn-success:hover {
//      color: #fff;
    background-color: #64d064;
//      border-color: #398439;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    color: #000;
    background-color: #286090;
    box-shadow: none;
    opacity: 0.25;
}

.btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover {
    background-color: #000;
    color: #286090;
//      border-color: #ccc;
}

.btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus, .btn-default[disabled].focus, fieldset[disabled] .btn-default.focus {
    background-color: #286090;
    opacity: 0.25;
}

.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
//      color: #333;
    background-color: #101215;
//      border-color: #adadad;
}


.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
//      background-color: #d4d4d4;
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}



//  #101215

//  .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled.focus, .btn-default[disabled].focus, fieldset[disabled] .btn-default.focus {
//      background-color: #fff;
//      border-color: #ccc;
//  }


/*
.btn:hover, .btn:focus, .btn.focus {
    color: #1a80b6;
}

.btn-default {
    color: #fff;
//      color: #ddd;
//      background-color: #337ab7;
//      background-color: #2991D6;
    border-color: #204d74;

    background-color: #286090;
}

.btn-default:hover,
//  .btn-default:focus,
//  .btn-default.focus,
//  .btn-default:active,
//  .btn-default.active {
  color: #fff;
    background-color: #2991D6;
//    background-color: #286090;
//      background-color: #2275ac;
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

//  .btn-default:active,
//  .btn-default.active,
.open > .dropdown-toggle.btn-default {
//      color: #333;
//      background-color: #e6e6e6;
    border-color: #fff;
    background-color: #286090;
}

//  .btn-default:active:hover,
//  .btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
//  .btn-default:active:focus,
//  .btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
//  .btn-default:active.focus,
//  .btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
//      color: #333;
//      background-color: #d4d4d4;
//      border-color: #8c8c8c;
    background-color: #2991D6;
//      background-color: #286090;
}
*/


.btn-only-trans {
  background: none !important;
}

.btn-trans-nav {
  color: #fff;
  line-height: 30px;
  font-weight: 300;
  padding: 0px;
//    padding: 6px 25px;
  font-size: 14px;
  background: none !important;
  border: 0px;
  margin-top: 6px;
//    padding-left: 6px;
  outline:none;
      -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-trans {
//    color: #fff;
  line-height: 30px;
  font-weight: 300;
  padding: 0px;
//    padding: 6px 25px;
  font-size: 18px;
  background: none !important;
  border: 0px;
  margin-top: 6px;
//    padding-left: 6px;
  outline:none;
      -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

//  .btn-trans:focus, .btn-trans:active {
//    outline: none;
//    border: 0px;
//  }

