//  .btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {


.btn:hover, .btn:focus, .btn.focus {
    color: #1a80b6;
}

.btn-default {
    color: #fff;
    background-color: #337ab7;
    border-color: #204d74;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
    background-color: #286090;
}

.btn-trans {
  color: #fff;
  line-height: 30px;
  font-weight: 300;
  padding: 0px;
//    padding: 6px 25px;
  font-size: 18px;
  background: none !important;
  border: 0px;
  margin-top: 6px;
//    padding-left: 6px;
  outline:none;
      -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

//  .btn-trans:focus, .btn-trans:active {
//    outline: none;
//    border: 0px;
//  }
