/*
.dropdown {

  .dropdown-menu {
    color: #bbb;
//      color: #aaa9a9;
//      background-color: #286090;
    background-color: #101215;
    border-color: #204d74;

  }

  .dropdown-menu>li>a {
//      color: #aaa9a9;
    color: #bbb;
  }

  .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
//      color: #000;
    color: #fff;
    background-color: #219ab3;
  }

  a.activeItem {
    font-weight: 600;
    background-color: #204d74;
  }
}
*/

//  .dropdown-menu {}

.dropdown-menu {
/*     color: #fff; */
/*     background-color: #111 !important; */

    color: #fff;
//      background-color: #286090;
    background-color: #101215;
    border: 0px;
//      border-color: #204d74;
}

.dropdown-menu>li>a {
    color: #fff;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: #000;
    background-color: #219ab3;
}
