.list-group-item {
//    background-color: #2C3539;
   background-color: #242424;
    border: 1px solid #000;
}

.form-control {
    background-color: transparent;
    border: 1px solid #219ab3;
    color: #fff;
/*     color: #219ab3; */
}

input[readonly].form-control {
    cursor: default;
    background-color: transparent;
    border: 1px solid #219ab3;
    color: #fff;
}

