.list-group-item {
//    background-color: #2C3539;
   background-color: #242424;
    border: 1px solid #000;
}

.form-control {
    background-color: transparent;
    border: 1px solid #219ab3;
    color: #fff;
    height: 28px;
/*     color: #219ab3; */
}

.form-control[disabled],
//  .form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #ccc;
    opacity: 0.1;
}

input[readonly].form-control {
    cursor: default;
    background-color: transparent;
    border: 1px solid #219ab3;
    color: #fff;
}

.form-group {
    margin-bottom: 0px;
}

label {
    margin-top: 14px;
    margin-bottom: 6px;
}

.form-control-inline {
  display:inline;
}

.input-group-addon, .input-group-btn {
  height: 28px;
}

.input-group .form-control {
  z-index: 1;
}
