.list-group-item {
//    background-color: #2C3539;
   background-color: #242424;
    border: 1px solid #000;
}

.form-control {
//      background-color: transparent;
    width: 100% !important;
    background-color: #000;
    border: 1px solid #219ab3;
    color: #fff;
    height: 24px !important;
/*     color: #219ab3; */
}

.form-control[disabled],
//  .form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #ccc;
    opacity: 0.1;
}

input.form-control {
    background-color: #000;
}

input[readonly].form-control {
    cursor: default;
//      background-color: transparent;
//      background-color: #000;
    color: #fff;
    border: 1px solid #219ab3;
//      border: 0px;
}


form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
   background-color: #000;
   opacity: 1;
}



.input-group-btn {
    height: 24px;
}

.input-group-btn > .btn {
  height: 24px;
}



textarea {
//      -webkit-appearance: textarea;
//      background-color: white;
//      background-color: transparent;
    background-color: #000;
    border: 1px solid #219ab3;
}

.form-group {
    margin-bottom: 0px;
}

label {
//      margin-top: 14px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.form-control-inline {
  display:inline;
}

//  .input-group-addon, .input-group-btn {
//    height: 28px;
//  }

.input-group .form-control {
  z-index: 1;
}

// overwrite shortcodes.css
input[type="date"], input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], select, textarea {
//      padding: 10px;
//      outline: none;
//      margin: 0;
//      width: 230px;
//      max-width: 100%;
//      display: block;
     margin-bottom: 0px !important;
//      font-size: 13px;
//      border-width: 1px;
//      border-style: solid;
//      border-radius: 0;
//      box-sizing: border-box;
//      -webkit-appearance: none;
}
//  input[type="date"], input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], select, textarea {
//      /* margin-bottom: 10px !important; */
//  }
