.panel {
//    position: relative;
//    z-index: 1;
//    background-color: #2C3539;
//    background-color: #29292a;
//      background-color: #242424;
	margin-bottom: 0px;
  background-color: #0A0C11;
  border: 0px;
}

.panel-default > .panel-heading {
//      color: #333;
//      color: #1a80b6;
    background-color: #000000;
    border-color: #1a80b6;
}

.panel-footer {
    background-color: #000000;
    border-top: 1px solid #1a80b6;
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 0px;
//      padding: 10px 15px;
}
