$item-margin: 6px;
$item-font: 12px;
$item-info-bg: rgba(10, 12, 17, .75);
//  $item-info-bg: #0A0C11;

.item-details {
//    width: 300px;
//    height: 400px;

//    padding: 10px;

//    padding-top: 10px;
//    padding-bottom: 10px;

//    position: relative;


//    .manu-img {
//      width: 20px;
//    }

  .ship-manu {
//      float: left;
    position: absolute;
    left: 0px;
    padding-right: 10px;
    border-radius: 0 0 10px 0px;
    background-color: $item-info-bg;
    color: #fff;
    font-size: 10px;
    vertical-align: middle;
  }

  .ship-manu-name {
//      height: 20px;
//      margin-left: -2px;
//      vertical-align: middle;

    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: $item-margin;
//      margin-right: $item-margin;
  }

  .manu-img {
    width: 24px;
  }

  .ship-img {
         height: 100%;
//       width: $member-width;
     display: block;
    margin-left: auto;
    margin-right: auto;

//      width: 100%;
//      width: 200px;
//      height: 74px;
//      height: 66px;
//      float: left;
  }

  .shipfix {
//      height: 100%;
  }


  .ship {
//      margin-bottom: 10px;
  }


//    .ship-details {
//      position: relative;
//      width: 100%;
//      height: 100px;
//      padding-bottom: 100px;
//      float: left;
//      font-size: 12px;
//    }


  .ship-name {
    color: #1a80b6;
    font-size: 16px;
//      font-weight: bold;
  }


//    .ship-model {
//      color: #1a80b6;
//      color: #555;
//      height: 12px;
//      font-size: 12px;
//    }


  .ship-sep {
    color: #660000;
//      color: #1a80b6;
//      color: #555;
//      font-weight: 900;
  }

  .ship-stat {
//      color: #ff3333;
    color: #1a80b6;
//      color: #555;
//      font-weight: 900;
  }

  .ship-model {
    position: absolute;
    height: 20px;
    bottom: 19px;
//      float: right;
//      bottom: 100px;
    right: 0px;
    color: #fff;
    padding-left: 10px;
//      padding-bottom: -10px;
    border-radius: 10px 0px 0px 0px;
    background-color: $item-info-bg;;
    color: #fff;
//      font-size: 10px;
//      vertical-align: middle;

//      color: #555;
  }

  .ship-model-name {
//      height: 20px;
//      bottom: 20px;
//      margin-top: 4px;
//      margin-right: 4px;

    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 10px;
//      vertical-align: middle;
  }

  .ship-class {
//      bottom: 27px;
//      display: inline;
//      float: left;
    color: #555;
    font-size: 12px;
  }

  .ship-class-top {
//      height: 20px;
//      padding-left: 6px;
//      margin-left: 2px;
//      vertical-align: middle;
    font-size: 12px;

//      height: 20px;
//      margin-left: -2px;
//      vertical-align: middle;

    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 10px;
  }

//    .item-type {
//      height: 20px;
//      padding-right: 6px;
//      margin-left: 2px;
//      vertical-align: middle;
//      font-size: 12px;

//      height: 20px;
//      margin-right: -2px;
//      vertical-align: middle;
//    }

//    .ship-manu {
  .item-type {
//      float: left;
    position: absolute;
//      top: 0px;
    right: 0px;
    padding-left: 10px;
    border-radius: 0px 0px 0px 10px;
    background-color: $item-info-bg;
    color: #fff;
    font-size: 12px;
//      margin-right: 2px;
    vertical-align: middle;
  }

  .item-type-name {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 10px;
  }

/*
  .ship-specs {
    display: inline;
    float: right;
    bottom: 0px;
    color: #555;
    font-size: 10px;
//      margin-top: 6px;
//      font-size: 12px;
  }
  */
  .ship-specs {
//      height: 26px;
//      padding-left: 6px;
//      margin-left: 2px;
//      margin-bottom: -10px;
//      vertical-align: middle;
//      font-size: 13px;
  }


}
