.member-details-draggable {
    cursor: move;
//      width: 200px;
}

 .member-details.ui-draggable-dragging {
//    width: 400px;
//    height: 100%;
//    padding-top: 4px;
//    border-bottom: 0px;

  border: 1px solid #337ab7;
  height: 36px;
  color: #fff;
  .member-remove {
    display:none;
  }
} 

.member-details {
//    margin: 2px;
  height: 100%;
//    padding-top: 2px;
//    padding-bottom: 2px;
  border: 1px solid #333;
  border-bottom-color: rgba(51,122,183, 0.3);
//      border-bottom: 1px solid #337ab7;

  .member-detail {
    width: 100%;
    height: 100%;

//        display: table-cell;
//        vertical-align: middle;
  }

  .member-detail > div {
    line-height: 35px;
//        width: 100%;
    height: 35px;
  }

  .active {
    color: #337ab7;
//      border-bottom: 1px solid #337ab7;
    background: rgba(0, 0, 0, 0.5);
  }

  .member-detail.select:hover {
    border: 1px solid #1a80b6;
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);

  }


  .member-avatar {
//      margin-left: auto;
//      margin-right: auto;
    width: 34px;
    float: left;
  }

  .member-box {
//      width: 160px;
    height:34px;
    vertical-align: middle;
    margin-left: 34px;
  }


  .member-info {
    width: 100%;
  }

  .member-name {
    padding-left: 6px;
    display: inline;
  }

  .member-stats {
    font-size: 12px;
    color: #555;
    display: inline;
    padding-right: 6px;
  }

  .member-remove {
    color: #f00;
    display: inline;
    float: right;
    padding-right: 4px;

    a:hover, a:focus {
      cursor: pointer;
    }
  }

  .member-options {
    font-size: 13px;
    display: inline;
  }

  .member-rank {
    font-size: 14px;
    color: #555;
  }


}


