.member-details-draggable {
    cursor: move;
//      width: 200px;
}


.member-details {
  padding: 2px;
//    padding-top: 2px;
//    padding-bottom: 2px;
  border-bottom: 1px solid #333;

  .member-avatar {
    width: 34px;
    float: left;
    width: 34px;
  }

  .member-box {
//      width: 160px;
    height:34px;
    vertical-align: middle;
    margin-left: 40px;
  }


  .member-info {
    width: 100%;
  }

  .member-name {
    display: inline;
  }

  .member-stats {
    font-size: 12px;
    color: #555;
    display: inline;
    padding-right: 6px;
  }

  .member-remove {
    color: #f00;
    display: inline;
    float: right;
    padding-right: 4px;

    a:hover, a:focus {
      cursor: pointer;
    }
  }

  .member-options {
    font-size: 13px;
    display: inline;
  }

  .member-rank {
    font-size: 14px;
    color: #555;
  }
}

.ui-draggable-dragging > .member-details {
//    width: 400px;
//    padding-top: 4px;
  border-bottom: 0px;

  .member-remove {
    display:none;
  }
} 
