.member-details {

  .member-avatar {
    width: 34px;
    float: left;
  }

  .member-name {
//      width: 160px;
    margin-left: 40px;
  }

  .member-rank {
    font-size: 12px;
    color:#555;
  }
}
