.item {
  fill: "#00ff00";
}

.myhover {
  fill: "#ff0000";
}

.selected {
//    fill: "#ff0000" !important;
  stroke: #bbbbbb;
  stroke-width: 5.5;
}

.node {
  /*   cursor: pointer; */
}

.node circle {
  fill: #fff;
  /*   stroke: steelblue; */
  stroke-width: 1px;
}

//  .node text {
//    font: 10px sans-serif;
//  }

/* .link { */
/*   fill: #f00; */
/*   stroke: #ccc; */
/*   stroke-width: 1.5px; */
/* } */

path {
  /*  stroke: #000; */
  stroke: #3e3e3e;
  stroke-width: 1.5;
  /*   cursor: pointer; */
}

path:hover {
  //    stroke: #999;
  stroke: #1a80b6;
  stroke-width: 20.5;
  cursor: pointer;
}

/* #path-0 { */
/*     fill: #000; */
/*     opacity: 0; */
/* } */

text {
  font: 18px Lato;
//    font: 14px sans-serif;
  font-weight: 300;
  /*   cursor: pointer; */
  pointer-events: none;
}

.drop-hover {
  fill: #223248;
}
