
path {
  /*  stroke: #000; */
//    stroke: rgba(124,124,124,0.3); //#0A0C11;
  stroke: #0A0C11;
  stroke-width: 0.1;
//    fill-opacity: "0.1";
  /*   cursor: pointer; */
}

path:hover {
  //    stroke: #999;
  stroke: #bbbbbb;
  stroke-width: 4;
  cursor: pointer;
}

.selected {
//    fill: "#ff0000" !important;
  stroke: #ffffff;
//    stroke-width: 5.5;
  stroke-width: 8;
}


text {
  font: 14px Lato;
//    font: 14px sans-serif;
  font-weight: 300;
  /*   cursor: pointer; */
  pointer-events: none;
}

.drop-hover {
  fill: #223248;
}

.org-chart {
  position:relative;
  width: 100%;
  height: 100%;
}

.img-pane {
  left: 0;
  top: 0;
  position: absolute;
}

#svg {
  background: transparent;
  width: 100%;
  height: 99%;
}

.unit-logo {
  position:absolute;
  pointer-events: none;
//    z-index: -1;
}


.chart-pane {
//    position:relative;
//    left: 0;
//    top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
//    z-index: 1;
}




.overlay-pane {
  width: 100%;
  position:absolute;
  left: 0;
  top: 0;
//    z-index: 2;
}

.unit-info-box {
  right: 0;
  top: 0;
  position: absolute;
//    z-index: 1000;
  pointer-events: none;
}


.unit-info-content {
  margin-right: 10px;
  margin-top: 10px;
  float: right;
  padding: 6px 8px;
//    background: white;
  background: rgba(75,75,75,0.5);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.unit-nav-box {
  left: 0;
  top: 0;
  position: absolute;
//    z-index: 1;
}

.unit-nav-content {
  margin-left: 10px;
  margin-top: 10px;
  float: left;
  padding: 6px 8px;
//    background: white;
//    background: rgba(75,75,75,0.5);
//    box-shadow: 0 0 15px rgba(0,0,0,0.2);
//    border-radius: 5px;
}
