.player-select {
//    width:400px;
//    float: right;
//    display: inline;
  z-index: 900;
//    .dropdown-menu {
//      width: 250px;
//      float: left;
//    }

    input {
      background-color: transparent;
    }
  

  .ember-basic-dropdown {
    width: 250px;
    float: left;
  }

  .action-name {
    float: left;
    margin-right: 8px;
    line-height: 24px;
  }

  .mem-icon {
    width: 18px;
  }

  .player-form { 
    z-index: 900;
    display: inline;
//      border: 1px solid #f00;
//      width: 400px;
//      position: absolute;
    float: left;
  }

  .player-apply { 
//      display: inline;
//      float: right;
//      width: 40px;
    line-height: 24px;
  }

//    .btn-default {
//      top: 5px;
//      right: -26px;
//      position: absolute;
//      height: 24px;
//      border-radius: 3px;
//    }
}
