.ship-model-details {
  margin-top: 10px;
  margin-bottom: 10px;
  .ship-box {
    width: 300px;
  }

  .ship-img {
    width: 200px;
    float: left;
  }


  .manu-img {
    width: 34px;
  }

  .ship-name {
    color: #1a80b6;
    display: inline;
  }

  .ship-manu {
    padding-left: 5px;
    float: left;
    font-size: 16px;
  }

  .ship-specs {
//      position: absolute;
    margin-top: 6px;
    font-size: 12px;
  }
}
