.ship-model-details {
  width: 100%;
  height: 74px;

//    padding: 10px;

  padding-top: 10px;
  padding-bottom: 10px;


  .ship-img {
//      width: 200px;
    height: 74px;
    float: left;
  }



  .ship-details {
//      position: relative;
//      width: 100%;
//      height: 100%;
    padding-left: 8px;
    float: left;
    font-size: 12px;
  }


  .ship-name {
    color: #1a80b6;
    font-size: 16px;
  }

  .manu-img {
    width: 24px;
  }
  .ship-manu {
  }

  .ship-specs {
    position: absolute;
    bottom: 0px;
//      margin-top: 6px;
//      font-size: 12px;
  }
}
