.unit-tree {
  padding-top: 8px;

  .box {
    margin-bottom: 0px;
  }

  .unit-info {
//      background-color: #101215;
//      background-color: $gray2;

//      border: 1px solid #1a80b6;
//      border-radius: 10px;
//      padding-bottom: 4px;
  }

  .unit-img {
    max-width: 32px;
    height: 32px;
    margin-bottom: 0px;
  }


  .box-header {
//      padding-left: 10px;
//      min-height: 35px;

//      line-height: 14px;

    .unit-name {
//        color: #1a80b6;
//        font-size: 16px;
//        min-height: 40px;
      vertical-align: middle;
//        line-height:40px;
//        border-bottom: 1px solid #444;
        color: #fff;
      font-weight: normal;

      a {
        color: #fff;
        text-decoration: none;
      font-weight: bold;
      }

//        a:hover, a:focus {
//          color: #1a80b6;
//          text-decoration: none;
//        }

      a.toggle {
        cursor: pointer;
        text-decoration: none;
      font-weight: bold;
      }
    }

    .unit-desc {
      float: right;
      position: relative;
      display: inline;
      font-size: 10px;
      color: #444;
//        vertical-align: bottom;
      right: -10px;
      top: -22px;
    }

    .unit-menu {
      padding-right: 4px;
      display: inline;
      float: right;
    }
  }

  .fixedWidth {
    width: 20px;
  }

  .unit-leader {
    padding-top: 4px;
    color: #fff;
  }

  .half-col {
    width: 50%;
    float: left;
  }

  a.toggleElement {
//      color: #fff;
//      color: #337ab7;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
  }

  .unit-leader-container {
  }

  .unit-pilots-container {
  }

  .member-container {
//      padding-top: 10px;
    font-size: 13px;
    padding-left: 10px;
    min-height: 20px;
  }


  .unit-pilots {
//      padding-top: 4px;
    padding-left: 20px;
  }

  .child-units {
    padding-left: 10px;
  }

  .unit-bg {
    padding-left: 20px;
  }

  a:hover, a:focus {
    color: #23527c;
    color: #fff;
    text-decoration: none;
  }

  .box-header:hover,  .box-header:focus {
//        border: 1px solid #fff;
      border-radius: 10px 10px 0px 0px;
//      color: #f00 !important;
//      background-color: rgba(34, 50, 72, 0.1);
//      background-color: rgba(100, 100, 100, 0.5);
    cursor: pointer;

    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);

      a {
        color: #1a80b6;
        text-decoration: none;
      }
//      text-decoration: none;
//      font-weight: bold;
  }

  .hovered, .hovered > div {
    cursor: copy;
    background-color: rgb(34, 50, 72);
    border-radius: 4px;
  }
}

