$filter-height: 40px;
$pager-height: 35px;
$result-height: calc(100% - #{$filter-height} - #{$pager-height});

#members {
  height:100%;

  .member-filter {
    padding-top: 3px;
    height: $filter-height;
    vertical-align: middle;
  }

  .filter-stats {
//      height: 100%;
    vertical-align: middle;
    padding-left: 10px;
//      float: left;
    display: inline;
  }

  .name-filter {
    padding-left: 10px;
    vertical-align: middle;
    display: inline;
    width: 200px;
  }

  .member-list {
//      height:100%;
    height: $result-height;
    padding: 5px;
    float: left;
    width: 50%;
    overflow-y: auto;
  }



  .member-avatar {
    width: 47px;
  }

  .member-pager {
    height: $pager-height;
  }

  .member-result {
    height:100%;
  }

  .member-edit{
    height: $result-height;
    width:50%;
    float: right;
    padding: 5px;
  }
}

