.member-edit-panel {
  position: relative;
  background-color: #000000 !important;
  height: 100%;

  .panel-body {
    height: calc(100% - 60px - 55px);
    overflow-y:auto;
  }

  .panel-footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }

  .member-avatar-img {
     float: left;
     width: 42px;
  }

  .member-name-hdr {
    padding-left: 60px;
    color: #1a80b6;
  }

  .add-ship-button {
    margin-top: 14px;
    margin-bottom: 6px;
  }

  //  .compact-table {
  //    height: 100%;
  //  }


  .compact-table {
    height: 200px;
//      height: 100%;
//      height: auto;
//      width: auto;
  }
  .compact-table > tbody {
//      height: 200px;
    height: 100%;
//      height: auto;
    overflow-y:auto;
    display:block;
  }

  .compact-table td, tr {
    height: 14px;
    border-bottom: 1px solid #333;
  }

  .compact-table > thead > tr > th,
  .compact-table > tbody > tr > th,
  .compact-table > tfoot > tr > th,
  .compact-table > thead > tr > td,
  .compact-table > tbody > tr > td,
  .compact-table > tfoot > tr > td {
    padding: 2px;
  }

  .ship-name {
    width: 100%;
  }

  .ship-edit {
    width: 20px;
    text-align: right;
  }
}

.ship-model-modal {
  .dropdown-menu {
    height: auto;
    max-height: 300px;
    width: 250px;
    overflow-x: hidden;
  }

  .manu-img {
    width: 24px;
  }

  .ship-manu {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 2px;
    margin-right: 10px;
  //    padding-top: 5px;
    background-color: #000;
    color: #1a80b6;
    font-weight: bold;
    border-bottom: 1px solid #1a80b6;
  }
}
