<div id="members" class="panel panel-default impart-panel">
  <div class="member-filter">
    filter: {{model.length}}
  </div>

  <div class="member-pager">
    {{page-numbers currentPage=currentPage content=pagedContent showFL=true totalPages=totalPages numPagesToShow=3 perPage=perPage}}
  </div>

  <div class="member-result">
    {{#each pagedContent as |member|}}
    {{member-details member=member details=true}}
    {{/each}}
  </div>

</div>

