<div id="settings">
  <ul class="nav nav-tabs">
    <li class="pull-right"><a href="#"><i class="fa fa-info"></i> Members</a></li>
    <li class="pull-right"><a href="#"><i class="fa fa-info"></i> Ships</a></li>
    <li class="pull-right"><a href="#"><i class="fa fa-info"></i> Certs</a></li>
    <li class="pull-right"><a href="#"><i class="fa fa-info"></i> Positions</a></li>
    <li class="pull-right"><a href="#"><i class="fa fa-info"></i> Badges</a></li>
    <li class="pull-right"><a href="#"><i class="fa fa-info"></i> Achievements</a></li>
  </ul>
</div>

