{{!--
<div class="subheader">
  <ul class="nav nav-tabs">
    <li class="pull-right" >{{#link-to 'settings.rewards'}}<i class="fa fa-trophy"></i> Rewards{{/link-to}}</li>
    <li class="pull-right" >{{#link-to 'settings.items'}}<i class="fa fa-cubes"></i> Items{{/link-to}}</li>
  </ul>
</div>
<div class="subcontent">
  {{outlet}}
</div>
--}}
{{outlet}}
