<div id="ships" style="height:100%;overflow-y:auto">
  {{#each content as |ship|}}
  <div class="col-md-2">
    {{ship.member.name}}
  </div>
  <div class="col-md-10">
    {{ship-model-details ship=ship.model}}
  </div>
  {{/each}}
</div>

