<div id="ships">
  <div class="ship-list">
    {{#each model as |member|}}
      {{#if member.ships.length}}
        <div class="col-md-12 ship-owner">
          {{member.name}}: {{member.ships.length}}
        </div>
        <div class="col-md-12">
          {{#each member.ships as |ship|}}
            <div class="col-md-6">
              {{ship-model-details ship=ship.model name=ship.name}}
            </div>
          {{/each}}
        </div>
        <div class="col-md-12">
          &nbsp;
        </div>
      {{/if}}
    {{/each}}

    <div class="col-md-12">
      count: {{ships.length}}
    </div>
  </div>
</div>


