<div id="ships">
  <div class="ship-list">
    {{#each model as |member|}}
      {{#if member.ships.length}}
        <div class="ships">
          <span class="ship-owner">
            {{member.name}} [{{member.ships.length}}]
          </span>
          <div class="col-md-12 member-ships">
            {{#each member.ships as |ship|}}
              {{#unless ship.hidden}}
              <div class="col-md-2 shipfix">
                {{ship-model-details ship=ship.model name=ship.name}}
              </div>
              {{/unless}}
            {{/each}}
          </div>
          <div class="clearfix" style="clear: both;"></div>
        </div>
      {{/if}}
    {{/each}}

    <div class="col-md-12">
      count: {{ships.length}}
    </div>
  </div>
</div>


