<div id="ships" style="height:100%;overflow-y:auto">
  {{#each content as |collection|}}
    {{collection.name}} - {{collection.ship.name}} - {{collection.member.name}}  - {{collection.member.unit.name}}<br>
  {{/each}}
</div>

