<div id="header" class="clearfix">
  <ul class="nav nav-tabs">
    <li>{{#link-to 'overview'}}<i class="fa fa-pie-chart"></i> Overview{{/link-to}}</li>
    <li>{{#link-to 'ships'}}<i class="fa fa-space-shuttle"></i> Ships{{/link-to}}</li>
    <li>{{#link-to 'members'}}<i class="fa fa-users"></i> Members{{/link-to}}</li>

    <li class="pull-right" style="min-width: 30px;">
      {{#if loading}}
        <button class="btn btn-trans fa fa-gear fa-spin text-danger"></button>
      {{else}}
        {{#if session.isAdmin}}
          {{partial 'application/settings-menu'}}
        {{else}}
          {{partial 'application/login-menu'}}
        {{/if}}
      {{/if}}
    </li>

    <li class="pull-right debug">
    </li>
  </ul>
</div>
