<div id="myheader" class="clearfix">
  <ul class="nav nav-tabs">
    {{#if session.isUser}}
      <li style="padding-left: 10px;">
        <i class={{if session.isAdmin "danger fa fa-user" "fa fa-user"}}></i> {{session.user.name}}
      </li>

      <li class="pull-right" >{{#link-to 'log'}}<i class="fa fa-history"></i> Log{{/link-to}}</li>
    {{/if}}

    <li class="pull-right" >{{#link-to 'items'}}<i class="fa fa-cubes"></i> Items{{/link-to}}</li>
    <li class="pull-right" >{{#link-to 'members'}}<i class="fa fa-users"></i> Members{{/link-to}}</li>
    <li class="pull-right" >{{#link-to 'overview'}}<i class="fa fa-pie-chart"></i> Overview{{/link-to}}</li>
  </ul>
</div>
