<div id="header" class="clearfix">
  <ul class="nav nav-tabs">
    <li>{{#link-to 'overview'}}Overview{{/link-to}}</li>
    <li>{{#link-to 'assignments'}}Assignments{{/link-to}}</li>
    <li>{{#link-to 'members'}}Members{{/link-to}}</li>
    <li>{{#link-to 'ships'}}Ships{{/link-to}}</li>
  </ul>

</div>
{{#if showBreadPath}}
<ul class="nav nav-pills strucPath" id="breadPath" role="tablist">
  <li role="presentation" class="dropdown">
  <a id="drop0" href="#" class="dropdown-toggle last" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
    ODDYSEE&nbsp;&nbsp;&nbsp;
    <span class="caret-right"></span>
  </a>
  </li>
</ul>
{{/if}}
