<div id="header" class="clearfix">
    <div class="topnav">
        <ul class="nav nav-tabs topnav-tabs">
            <li>{{#link-to 'overview'}}Overview{{/link-to}}</li>
            <li>{{#link-to 'assignments'}}Assignments{{/link-to}}</li>
            <li>{{#link-to 'members'}}Members{{/link-to}}</li>
        </ul>

        <div class="toolbar">
            <!--     {{session.currentUser.firstname}} {{session.currentUser.lastname}} &nbsp;<i class="fa fa-user"></i> &nbsp; | &nbsp; -->
            <!--     <a href="" {{action 'logout'}}>Logout &nbsp;<i class="fa fa-sign-out"></i></a> -->
        </div>
    </div>
</div>
