{{#bs-dropdown closeOnMenuClick=false as |dd|}}
  {{#dd.button type="trans"}}<i class="fa fa-sign-in"></i>{{/dd.button}}
  {{#dd.menu align="right"}}
    <li>

    {{#bs-form action="login" model=this as |form|}}
      {{from.element controlType="password" property="pwd"}}
    {{/bs-form}}
  </li>
  {{/dd.menu}}
{{/bs-dropdown}}
