{{#bs-dropdown as |dd|}}
  {{#dd.button type="trans"}}<i class="fa fa-cog"></i>{{/dd.button}}
  {{#dd.menu align="right" id="set-menu"}}
    <li class="disabled"><a href="#"><i class="fa fa-users"></i> Members</a></li>
    <li class="disabled"><a href="#"><i class="fa fa-trophy"></i> Rewards</a></li>
    <li>{{#link-to 'settings.ships'}}<i class="fa fa-paper-plane"></i> Ship Models{{/link-to}}</li>
  {{/dd.menu}}
{{/bs-dropdown}}
