{{#bs-dropdown}}
  {{#bs-dropdown-button type="trans"}}<i class="fa fa-cog"></i>{{/bs-dropdown-button}}
  {{#bs-dropdown-menu align="right" id="set-menu"}}
    <li>{{#link-to 'settings.ships'}}<i class="fa fa-paper-plane"></i> Ship Models{{/link-to}}</li>
    <li class="disabled"><a href="#"><i class="fa fa-users"></i> Members</a></li>
    <li class="disabled"><a href="#"><i class="fa fa-trophy"></i> Rewards</a></li>
  {{/bs-dropdown-menu}}
{{/bs-dropdown}}
